/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General Styles */
 
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
 
body {
  font-size: 1em;
 /* color: #e2e3ed;*/
}

html, body {
  margin:0;
  padding:0;
  overflow-x:hidden;	
	/*prevents white space from the right side*/
}

ul, 
ol {
	
  list-style-type: none;
}

a {
 /* color: #e2e3ed;*/
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.875em;
}
 
h3 {
  color: #fff;
}

h4 {
  color: #fff;
  font-weight: 500;
  font-size: 1.125em;
  margin: 20px 0;
	/*This is for the contact title for the footer*/
}

img {
 width: 100%;
}
 
figure {
 margin: 0;
}

address {
 font-style: normal;
}

p {
  color: #000;
}

/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0; /*makes the height of the header longer*/
}

header .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;	
}

header nav {
  display: flex;
  align-items: center;
	color: white;
  flex-flow: row wrap;
  font-size: 1.125em;
  font-weight: 700;
  justify-content: space-around;
	/*margin: 0 27px;*/
  text-transform: uppercase;
  width: 100%; /*Made the links have space.*/	
}

header nav ul li {
  font-size: 1.125em;
}

li a {
	color: white;
}
nav {							
	margin-top: -34rem;
	position: fixed;
	z-index: 100; /* had to use this so that the links were in front as the user scrolls down*/
}

.social, .social-icons i:hover,
.social, .social-icons i:active {
    transform:scale(1.9);	
}

footer {
  background-color: #B59C8C;
  flex-direction: column;
  margin-top: 8rem;
  text-align: center;	
}

footer p {
  color: #fff;
  margin: 0;
}

footer tbody {
  color: #fff;
}
footer .content-wrapper {
  margin: 50px 0;	
  width: 100%;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
}

footer .social-icons p i {
  font-size: 1.3125em;
}

footer .copyright {
  color: white;
  margin: 20px 0;
}




/* -------------------- Mobile Styles - Homepage -------------------- */ 

/*
body {
  background-color: #F4E6DC;
}*/

header {
  padding: 0px 0; /*makes the height of the header longer*/
}
      
.hero-area  {
  background-image:url(../css/img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 16.9rem;
  margin-top: -0.3rem;
  width: 26rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.intro img {
 /* position: relative;*/
  /*margin-left: -7rem;*/
  margin-left: 2.6rem;
  margin-top: 2rem;
  /*top: -21.5rem;*/
  width: 2.7rem;
}

.intro h1 {
  font-family: 'pristina';
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-left: 2.4rem;
  margin-top: -1rem;
}

.intro h2 {
  font-family: 'OFL Sorts Mill Goudy';
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.2rem;
  margin-left: 2.9rem;
  margin-top: 6rem;
  word-wrap: break-word;
  width: 25%;
}

.our_services {
  background-color: #CEB3A1;
  /*height: 10rem;*/
  height: 13rem;
  margin-top: -0.24rem;
  padding-top: 1.2rem;
  padding-bottom: 3.56rem;
}

.our_services h2 {
  font-family: 'papyrus';
  font-size: 1.4rem;
  padding-top: 1.5rem;
  text-align: center;
}

.our_services p {
  color: #fff;
  font-size: 0.8rem;
  margin-left: 5.3rem;
  margin-top: -0.6rem;
  text-align: center;
  word-wrap: break-word;
  width: 59%;
}

#btn{
 position: relative;
 left: 10rem;
 top: -0.4rem;
}

#btn, .button{
  background-color: #BF4225;
  color: white;
	display: inline-block;
  font-size: 0.6rem;
	font-weight: 300;
	margin: 10px;
	padding: 0.1px 1px;
}

.visual {
 background-color: #F4E6DC;
 height: 94rem;
 padding-top: 9rem;
 position: relative;
 top: -0.5rem;
}

.visual h2 {
  color: #000;
  font-family: 'pristina';
  font-size: 2.6rem;
  text-align: center;
}

.visual p {
  font-size: 1.4rem;
  font-family: 'papyrus';
  margin-left: 7.0rem;
  word-wrap: break-word;
  width: 48%;
}

#massages {
  margin-top: 24rem;
}

#massages img {
  height: 11rem; /*8rem;*/
  margin-left: 6.1rem; /*7.1rem;*/
  margin-top: -86.9rem;
  width: 52%; /*43%;*/
}

#massages h2 {
  margin-top: -36.9rem;
}

 #massage p {
  word-wrap: break-word;
  font-family: 'papyrus';
  margin-left: 7.0rem;;
  width: 48%;
} 

hr {
  border-bottom: 7px dotted #EAD7CA;
}

#facial img, #waxing img {
  height: 24rem;
  margin-left: 4.5rem;
  width: 63%;
}

#waxing img {
  height: 14rem;
  margin-left: 5.3rem;
  margin-top: -122.9rem;
  width: 58%;
}

#waxing h2{
 /* margin-left: 5.3rem;*/
  margin-top: -51.9rem;
}

footer {
  display: flex;
  margin-top: -5rem;
  padding-top: 5rem;
}

footer h3 {
  font-size: 1.1rem;
}

footer p {
  font-size: 0.9rem;
  line-height: 0.1rem;
  margin-left: 7.78rem ;/*2.78rem;*/
  text-align: left;
}

footer #store_hours {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

footer tr {
  font-size: 0.7rem;
  position: relative;
  left: 7rem;
}

 .social-icons img {
  margin-left: 4rem;
   margin-top: 2.8rem;
   width: 1.5rem;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */





/* ==========================================================================
		Home Tablet Size
   ========================================================================== */


   @media only screen and (min-width:768px) {
    /*Tablet styles here*/

.visual_container {
  background-color: #F4E6DC;
}

 header {
  padding: 0px 0; /*makes the height of the header longer*/
 }

 header img {
   margin-top: 3rem;
 }

 .intro img {
  /* position: relative;*/
   /*margin-left: -7rem;*/
   margin-left: 2.6rem;
   margin-top: 3.5rem;
   /*top: -21.5rem;*/
   width: 5.7rem;
 }
    
.hero-area  {
   background-image:url(../css/img/intro.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 37rem;
}
    
#overlay {
   background-color: rgba(0, 0, 0, 0.3);
   height: 36.9rem;
   margin-top: -0.3rem;
   width: 49rem;
}
    
.intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
    
.intro img {
    margin-left: 5.5rem;
    margin-top: 2.5rem;
    width: 4.9rem;
}
    
.intro h1 {
    font-family: 'pristina';
    font-size: 3.8rem;
    letter-spacing: 0.1rem;
    margin-left: 5.5rem;
    margin-top: -2rem;
}
    
.intro h2 {
    font-family: 'OFL Sorts Mill Goudy';
    font-size: 3.6rem;
    font-style: italic;
    line-height: 1.9rem;
    margin-left: 5.6rem;
    margin-top: 6rem;
    word-wrap: break-word;
    width: 13rem;
}

.intro h1,  .intro h2 {
    position: relative;
    left: 4px;
    top: 141px;
}
    
 .our_services {
    background-color: #CEB3A1;
      /*height: 10rem;*/
    height: 28rem;
    margin-top: -0.5rem; /*-2.5rem;*/
}
    
.our_services h2 {
    font-family: 'papyrus';
    font-size: 2.4rem;
    padding-top: 3.5rem;
    text-align: center;
}
    
.our_services p {
    color: #fff;
    font-size: 1.8rem;
    margin-left: 4.3rem;
    margin-top: -0.6rem;
    text-align: center;
    word-wrap: break-word;
    width: 84%;
}
    
 #btn {
    position: relative;
    left: 17rem;
    top: -0.4rem;
}
    
#btn, .button{
    background-color: #BF4225;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px;
    padding: 8.1px 12px;
}

.visual {
  display: flex;
  flex-basis: 45rem;
  padding-top: 21rem;;
}
 
.visual h2 {
  color: #000;
  font-family: 'pristina';
  font-size: 3.4rem;
  text-align: center;
}

.visual p {
  word-wrap: break-word;
  font-family: 'papyrus';
  font-size: 1.9rem;
  margin-left: 12rem;
  text-align: justify;
  width: 52%;
}

.visual_2 p {
  word-wrap: break-word;
  font-family: 'papyrus';
  margin-left: 7.0rem;;
  width: 48%;
} 

hr {
  border-bottom: 17px dotted #EAD7CA;
}

#facial img {
  height: 30rem;
  margin-left: 11.8rem;
  width: 50%;
}

#facial img {
  height: 37rem;
  margin-left: 9.3rem;
  width: 59%;
}

#massages h2 {
  margin-top: -0.9rem;
}

#massages img {
  height: 19rem;
  margin-left: 11.1rem;
  margin-top: -26rem;
  width: 50%;
}

#massages p {
  font-size: 1.9rem;
  height: 19rem;
  margin-left: 12rem;
  margin-bottom: 3rem;
  text-align: justify;
  width: 50%;
}

#waxing img {
  height: 37rem;
  margin-left: 9.3rem;
  position: relative;
  top: 54rem;
  width: 59%;
}

#waxing h2 {
  margin-top: 15.1rem;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-content { 
  flex-basis: 43rem;
}
    
.content-wrapper h3 {
  font-size: 1.6rem;
}

.footer-content h3 {
  font-size: 1.7rem;
  position: relative;
  left: -22rem;
  word-wrap: break-word;
  width: 167%;
}

.content-wrapper p {
  font-size: 1.5rem;
  line-height: 0.4rem;
}

#address {
  position: relative;
  right: 3.9rem;
  top: 1.5rem;
}

.content-wrapper tr {
  font-size: 1.4rem;
}

#store_hours {
  position: relative;
  left: 18rem;
  bottom: 10rem
}

.info {
  position: relative;
  left: -4rem;
  bottom: 1rem
}

#social {
  position: relative;
  left: 18rem;
  bottom: 14rem

}

.social-icons img {
   margin-top: 2.8rem;
   width: 1.5rem;
 }






/* ==========================================================================
		Home Desktop size
   ========================================================================== */

	
   @media only screen and (min-width:1200px) {


	  	
	
#menu-bg{
		display: none;
	/* put hamburger nav link that is for mobile and tablet as none so that it wont show in  desktop nav*/
}
	
header, span{
	font-size: 26px;
	padding-left: 3px;
}

header nav {
	/*float: right;*/
	padding: 46px 10px;
}

header nav ul {
	margin: 0;
	padding: 0;
}
	
header nav ul li {
	/* font-family: 'Cormorant SC', serif; */	
  font-family: 'Domine', serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	padding: 15px 18px;
	display: inline;
}	
	 
	   
   /*Desktop styles here*/
header {
   padding: 0px 0; /*makes the height of the header longer*/
}
  
header img {
  margin-top: 3rem;
}
  
.intro img {
  margin-left: 2.6rem;
  margin-top: 3.5rem;
  width: 5.7rem;
}
      
.hero-area  {
  background-image:url(../css/img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75rem;
}
      
 #overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 73.6rem;
  margin-top: -0.3rem;
  width: 100%;
}
      
.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
 }
      
.intro img {
   margin-left: 5.8rem;
   margin-top: 4rem;
   width: 6.9rem;
 }
      
 .intro h1 {
    font-family: 'pristina';
    font-size: 4.7rem;
    letter-spacing: 0.1rem;
    margin-left: 5.5rem;
      /*margin-top: 21rem;*/
 }
      
  .intro h2 {
    font-family: 'OFL Sorts Mill Goudy';
    font-size: 3.9rem;
    font-style: italic;
    line-height: 1.9rem;
    margin-left: 5.6rem;
    margin-top: 6rem;
    word-wrap: break-word;
    width: 100%;
}
  
.intro h1,  .intro h2 {
    position: relative;
    left: 4px;
    top: 141px;
}
      
.our_services {
    background-color: #CEB3A1;
        /*height: 10rem;*/
    height: 33rem;
    margin-top: -1.8rem;
 }
      
 .our_services h2 {
    font-family: 'papyrus';
    font-size: 4.4rem;
    padding-top: 9.5rem;
    text-align: center;
}
      
.our_services p {
    color: #fff;
    font-size: 1.8rem;
    margin-left: 6.3rem;
    margin-top: -0.6rem;
    text-align: center;
    word-wrap: break-word;
    width: 84%;
}
      
#btn {
    display:flex;
    justify-content: flex-end;
    position: relative;
    left: 58rem;
    top: -95rem;
    /*margin-top: -84rem;*/
}
      
#btn, .button{
    background-color: #BF4225;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5.0px 5px;
}

#facial img {
  height: 36rem;
  margin-left: 7.8rem;
  margin-top: 14rem;
  width: 36%;
}

#facial h2 {
 position: relative;
 left: 14rem;
 top: -36rem;
}

#facial p {
  position: relative;
  left: 28rem;
  top: -36rem;
  word-wrap: break-word;
  width: 37%;
 }

#massages img {
  height: 29rem;
  margin-left: 7.8rem;
  position: relative;
  top: 3rem;
  width: 36%;
}

#massages h2 {
 position: relative;
 left: 14rem;
 top: -23rem;
}

#massages p {
  position: relative;
  left: 28rem;
  top: -24rem;
  word-wrap: break-word;
  width: 37%;
 }

 #waxing img {
  height: 36rem;
  position: relative;
  left: -1rem;
  top: 53rem;
  width: 36%;
}

#waxing h2 {
  position: relative;
 left: 14rem;
 top: -34rem;
}

#waxing p {
  position: relative;
  left: 28rem;
  top: -35rem;
  word-wrap: break-word;
  width: 37%;
 }

#pattern {
  background-image: url(../css/img/pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2457px;
  margin-right: -0.4rem;
}

/***** Starting of the footer*****/
    
footer /*.content-font*/{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0rem;
 }

 .footer-content {
  margin-left: 15rem;
 }
  
 footer h3 {
  padding-right: 4rem;
 }

 #address h3 {
  position: relative;
  left: -26em;
 }

 #address p {
  position: relative;
  left: -5em;
 }

 #store_hours h3 {
  position: relative;
  left: -18em;
 }

 #store_hours p {
  position: relative;
  left: -35em;
 }

 #info h3 {
  position: relative;
  left: -18em;
 }

 #social {
  position: relative;
  left: -28em;
 }
    /* =========================================================================FOOTER FOR ALL PAGES REGARDING DESKTOP
       ========================================================================== */












@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}




















@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}